{% extends "layout.html" %}

{% block content %}

<div class="jumbotron text-center">
<h1>VIGILANT</h1>
  <div class="container">
    <a href="/" class="ojo1">
      <img src="/images/ojo1.png" height="200">
    </a>
    <p>Desarrollo de un prototipo de monitoreo remoto de equipos biomédicos o de computo, donde se vigilaran variables como la temperatura máxima de operación, apertura de carcasa, humedad relativa; con el fin de garantizar la vida útil del equipo y evitar la manipulación de sus componentes internos.Desarrollado por estudiantes de décimo semestre del Politécnico Costa Atlántica</p>

   

    <a type="button" class="btn btn-lg btn-default" href="https://www.youtube.com/watch?v=1nw-V5eEeAk   "><span class="glyphicon glyphicon-flash"></span> Un Paseo por Youtube</a>
    <a type="button" class="btn btn-lg btn-primary" href="http://www.pca.edu.co" target="_blank" class="PCA-Logo"><span class="glyphicon glyphicon-download"></span> Let us Know your Opinion</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Politecnico de la Costa Atlantica <a href="https://devcenter.heroku.com/articles/getting-started-with-php" class="alert">Carrera 38 # 79A-167 Barranquilla-Atlantico.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span>   ¿Cómo funciona este Prototipo?</h3>
<<<<<<< HEAD
=======
<h1></h1>
  <div class="container">
    <a href="/" class="Imagen3">
      <img src="/images/Imagen3.png" height="200">
    </a>
    <p style="color:black;">
    Desarrollo de un prototipo de monitoreo remoto de equipos biomédicos o de computo, donde se vigilaran variables como la temperatura máxima de operación, apertura de carcasa, humedad relativa; con el fin de garantizar la vida útil del equipo y evitar la manipulación de sus componentes internos.Desarrollado por estudiantes de décimo semestre del Politécnico Costa Atlántica</p>



  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <b>Login</b>
      <span class="glyphicon glyphicon-log-in"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="http://http://vigilant.herokuapp.com/monitor" target="self"">Admin</a></li>
      <li><a href="#">Cliente</a></li>
    </ul>
  </div>
</div>

    
    
  </div>
</div>
<div class="container">
    <div class="alert alert-info text-center" role="alert">
      <a href="https://www.google.com/maps/place/Polit%C3%A9cnico+de+la+Costa+Atl%C3%A1ntica/@10.9868454,-74.819332,15z/data=!4m2!3m1!1s0x0:0xd79e4a07d6b96d70?sa=X&ved=2ahUKEwj97YXqmY3iAhUFo1kKHQXWCvsQ_BIwCnoECAsQCA" target="_blank" class="alert">Politecnico de la Costa Atlantica - Carrera 38 # 79A-167 Barranquilla-Atlantico.</a>

    </div>
  <hr>
   <div class="row">
    <div class="text" style="color: blue">
      <h3>   ¿Cómo funciona este Prototipo?</h3>
>>>>>>> 466ef0529b6496bcb6964fc976dc7b80cd5d57ca
=======
>>>>>>> parent of 67ea101... logo
      <ul>
        <li type="circle">El prototipo será instalado en un equipo biomédico o de computo, monitoreado a través de una página WEB que recibe la información enviada por el circuito enlazado a un servisor MQTT</li> 
        <li type="circle">Se instalará un sensor de apertura o final de carrera que enviara una señal a un microcontrolador cuando el equipo sea manipulado internamente, generando un mensaje de texto como  alarma a través de un módulo GSM</li>
        <li type="circle">Contará con sensor de temperatura y humedad que comparará los niveles internos del equipo con el establecido en el setpoint, activando un disipador de calor cuando supere el máximo valor establecido e informando los valores por mensaje de texto</li>
        <li type="circle">A través del módulo bluetooth se programara  la SIM receptora de la información que genera el sistema, reloj en tiempo real que permitirá cumplir con cronogramas de mantenimiento, finalización de garantía, inhabilitación de equipo por el no cumplimiento de acuerdos de pago.</li>
      </ul>
    </div>

     
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
      Alfonso Forero-Cesar Chimente
    </div>

  </div>
</div> <!-- row -->


<div align="center">
  <a href="http://www.pca.edu.co" target="_blank" class="PCA-Logo">
    <img src="/images/PCA-Logo.png">
    </a>

</div>

{% endblock %}
