{% extends "layout.html" %}

{% block content %}

<div class="jumbotron text-center">
<h1></h1>
  <div class="container">
    <a href="/" class="Imagen3">
      <img src="/images/Imagen3.png" height="200">
    </a>
  



      <div class="btn-group" role="group" href="http://vigilant.herokuapp.com" target="_self">
        <button type="button" class="btn btn-default "  aria-haspopup="true" aria-expanded="false">
          <b>Logout </b>
          <span class="glyphicon glyphicon-log-out"></span>

        </button>
        
      </div>
    </div>
  </div>

<div class="container">
  <div class="col-md-8">
     

  </div>

  <div class="col-md-8">
    <table>
     <tr><td>  <b><h3>EQUIPO:</h3></b>  </td></tr>
     <tr><td>  Laser Jag</td></tr>
     <tr><td>  <b><h3>CLIENTE:</h3></b></td></tr>
     <tr><td>  Antonio Suarez Rincón</td></tr>
     <tr><td>  <b><h3>UBICACIÓN:</h3></b></td></tr>
     <tr><td>  Clinica Del Norte</td></tr>
    </table>
   </div>
   <div>
    <table>
     <tr><td>  <b><h3>ESTADO DE CUENTA:</h3></b>  </td></tr>
     <tr><td>  Activo</td></tr>
     <tr><td>  <b><h3>FECHA DE ENTREGA:</h3></b></td></tr>
     <tr><td>  20/03/2019</td></tr>
    </table>
  </div>
  <div class="col-md-8">
 
    
  </div>
  <div class="col-md-8">
  
  </div>

  

</div>

    
    
  </div>
</div>


<div style="background-color:#FF0000;">

</div>


<div class="container">
    <div class="alert alert-info text-center" role="alert">
      <a> 

      </a>

    </div>
  <hr>
   <div class="row">
    <div class="text-center" style="color: black">
      <h2><b>DATOS</b></h2>
      <ul>
        <table >
        
        <tr>

       <th scope="row"><a href="/" class="termometro">
      <img src="/images/termometro.png" height="100">
    </a></th>

        <th rowspan="2"><h2> 38,0 °C </h2></th>

        </tr>
        <tr>
        </tr>
        
        
       <th>Temperatura</th>
        <tr>
          <canvas data-type="radial-gauge"></canvas></tr>


         </table>

      </ul>
     </div>
      
     
      </div> <!-- row -->
      <div class="alert alert-info text-center" role="alert">
      Carlos Arroyo - Cesar Chimente - Christian Celedon - Alfonso Forero - Ronald Sierra
      </div>

  </div>
</div> <!-- row -->


<div align="center">
  <a href="http://www.pca.edu.co" target="_blank" class="PCA-Logo">
    <img src="/images/PCA-Logo.png">
    </a>

</div>

<script>
  <canvas data-type="radial-gauge"></canvas>var gauge = new RadialGauge({
    renderTo: 'canvas-id'
  }).draw();
</script>

{% endblock %}
