{% extends "layout.html" %}

{% block content %}

<div class="jumbotron text-center">
<h1></h1>
  <div class="container">
    <a href="/" class="Imagen3">
      <img src="/images/Imagen3.png" height="200">
    </a>
  



      <div class="btn-group" role="group" href="http://vigilant.herokuapp.com" target="_self">
        <button type="button" class="btn btn-default "  aria-haspopup="true" aria-expanded="false">
          <b>Logout </b>
          <span class="glyphicon glyphicon-log-out"></span>

        </button>
        
      </div>
    </div>
  </div>

<div class="container">

  <div class="col-md-8">
    <table>
     <tr><td>  <b><h3>EQUIPO:</h3></b>  </td></tr>
     <tr><td>  Laser Jag</td></tr>
     <tr><td>  <b><h3>CLIENTE:</h3></b></td></tr>
     <tr><td>  Antonio Suarez Rincón</td></tr>
     <tr><td>  <b><h3>UBICACIÓN:</h3></b></td></tr>
     <tr><td>  Clinica Del Norte</td></tr>
    </table>
   </div>
   <div>
    <table>
     <tr><td>  <b><h3>ESTADO DE CUENTA:</h3></b>  </td></tr>
     <tr><td>  Activo</td></tr>
     <tr><td>  <b><h3>FECHA DE ENTREGA:</h3></b></td></tr>
     <tr><td>  20/03/2019</td></tr>
    </table>
  </div>

</div>

    
    
  </div>
</div>




<div class="container">

  <div style="background-color:#FF0000;">

</div>


   <div class="row">
    <div class="text-center" style="color: black">
      <h2><b>DATOS</b></h2>

        <table style="width:100%">
        
        <tr>
          <style>
          #chartdiv {
            width: 100%;
            height: 250px;
          }

          #chartdivLinea {
            width: 100%;
            height: 250px;
          }

          #chartdivConsumo {
            width: 100%;

            height: 250px;
          }
          </style>
          <td> <div id="chartdiv"></div> <br> Temperatura </td>

          <td> <div id="chartdivLinea"></div>  </td>

          <td>
            <h3>Promedio Temperatura</h3>
            <br>
            <br>
            <h4>20ºC</h4>
          </td>
        </tr>

        <tr>
          <td colspan="2"> <div id="chartdivConsumo"></div> </td>
          <td>
            <h3>Promedio Consumo</h3>
            <br>
            <br>
            <h4>5 Kw/h</h4>
          </td>
        </tr>


         </table>


         <h2><b>LOG DE APERTURA</b></h2>

        <table style="width:100%">
        
        <tr>
          <th> Fecha y Hora</th>

          <th> Acción </th>
        </tr>

        <tr>
          <td> 22 de mayo de 2019, 20:20 </td>
          <td> APERTURA  </td>
        </tr>


         </table>

     </div>
      
     
      </div> <!-- row -->
      <div class="alert alert-info text-center" role="alert">
      Carlos Arroyo - Cesar Chimente - Christian Celedon - Alfonso Forero - Ronald Sierra
      </div>

  </div>
</div> <!-- row -->


<div align="center">
  <a href="http://www.pca.edu.co" target="_blank" class="PCA-Logo">
    <img src="/images/PCA-Logo.png">
    </a>

</div>



<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_dataviz);
am4core.useTheme(am4themes_animated);
// Themes end

// create chart
var chart = am4core.create("chartdiv", am4charts.GaugeChart);
chart.hiddenState.properties.opacity = 0; // this makes initial fade in effect

chart.innerRadius = -25;

var axis = chart.xAxes.push(new am4charts.ValueAxis());
axis.min = 0;
axis.max = 90;
axis.strictMinMax = true;
axis.renderer.grid.template.stroke = new am4core.InterfaceColorSet().getFor("background");
axis.renderer.grid.template.strokeOpacity = 0.3;

var colorSet = new am4core.ColorSet();

var range0 = axis.axisRanges.create();
range0.value = 0;
range0.endValue = 50;
range0.axisFill.fillOpacity = 1;
range0.axisFill.fill = colorSet.getIndex(0);
range0.axisFill.zIndex = - 1;

var range1 = axis.axisRanges.create();
range1.value = 50;
range1.endValue = 80;
range1.axisFill.fillOpacity = 1;
range1.axisFill.fill = colorSet.getIndex(2);
range1.axisFill.zIndex = -1;

var range2 = axis.axisRanges.create();
range2.value = 80;
range2.endValue = 90;
range2.axisFill.fillOpacity = 1;
range2.axisFill.fill = colorSet.getIndex(4);
range2.axisFill.zIndex = -1;

var hand = chart.hands.push(new am4charts.ClockHand());

// using chart.setTimeout method as the timeout will be disposed together with a chart
chart.setTimeout(randomValue, 2000);

function randomValue() {
    hand.showValue(Math.random() * 100, 1000, am4core.ease.cubicOut);
    chart.setTimeout(randomValue, 2000);
}

}); // end am4core.ready()
</script>


<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_dataviz);
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chartLinea = am4core.create("chartdivLinea", am4charts.XYChart);
chartLinea.paddingRight = 20;

// Add data
chartLinea.data = [{
  "year": "1950",
  "value": -0.307
}, {
  "year": "1951",
  "value": -0.168
}, {
  "year": "1952",
  "value": -0.073
}, {
  "year": "1953",
  "value": -0.027
}, {
  "year": "1954",
  "value": -0.251
}, {
  "year": "1955",
  "value": -0.281
}, {
  "year": "1956",
  "value": -0.348
}, {
  "year": "1957",
  "value": -0.074
}, {
  "year": "1958",
  "value": -0.011
}, {
  "year": "1959",
  "value": -0.074
}, {
  "year": "1960",
  "value": -0.124
}, {
  "year": "1961",
  "value": -0.024
}, {
  "year": "1962",
  "value": -0.022
}, {
  "year": "1963",
  "value": 0
}, {
  "year": "1964",
  "value": -0.296
}, {
  "year": "1965",
  "value": -0.217
}, {
  "year": "1966",
  "value": -0.147
}, {
  "year": "1967",
  "value": -0.15
}, {
  "year": "1968",
  "value": -0.16
}, {
  "year": "1969",
  "value": -0.011
}, {
  "year": "1970",
  "value": -0.068
}, {
  "year": "1971",
  "value": -0.19
}, {
  "year": "1972",
  "value": -0.056
}, {
  "year": "1973",
  "value": 0.077
}, {
  "year": "1974",
  "value": -0.213
}, {
  "year": "1975",
  "value": -0.17
}, {
  "year": "1976",
  "value": -0.254
}, {
  "year": "1977",
  "value": 0.019
}, {
  "year": "1978",
  "value": -0.063
}, {
  "year": "1979",
  "value": 0.05
}, {
  "year": "1980",
  "value": 0.077
}, {
  "year": "1981",
  "value": 0.12
}, {
  "year": "1982",
  "value": 0.011
}, {
  "year": "1983",
  "value": 0.177
}, {
  "year": "1984",
  "value": -0.021
}, {
  "year": "1985",
  "value": -0.037
}, {
  "year": "1986",
  "value": 0.03
}, {
  "year": "1987",
  "value": 0.179
}, {
  "year": "1988",
  "value": 0.18
}, {
  "year": "1989",
  "value": 0.104
}, {
  "year": "1990",
  "value": 0.255
}, {
  "year": "1991",
  "value": 0.21
}, {
  "year": "1992",
  "value": 0.065
}, {
  "year": "1993",
  "value": 0.11
}, {
  "year": "1994",
  "value": 0.172
}, {
  "year": "1995",
  "value": 0.269
}, {
  "year": "1996",
  "value": 0.141
}, {
  "year": "1997",
  "value": 0.353
}, {
  "year": "1998",
  "value": 0.548
}, {
  "year": "1999",
  "value": 0.298
}, {
  "year": "2000",
  "value": 0.267
}, {
  "year": "2001",
  "value": 0.411
}, {
  "year": "2002",
  "value": 0.462
}, {
  "year": "2003",
  "value": 0.47
}, {
  "year": "2004",
  "value": 0.445
}, {
  "year": "2005",
  "value": 0.47
}];

// Create axes
var categoryAxis = chartLinea.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "year";
categoryAxis.renderer.minGridDistance = 50;
categoryAxis.renderer.grid.template.location = 0.5;
categoryAxis.startLocation = 0.5;
categoryAxis.endLocation = 0.5;

// Pre zoom
chartLinea.events.on("datavalidated", function () {
  categoryAxis.zoomToIndexes(Math.round(chartLinea.data.length * 0.4), Math.round(chartLinea.data.length * 0.55));
});

// Create value axis
var valueAxis = chartLinea.yAxes.push(new am4charts.ValueAxis());
valueAxis.baseValue = 0;

// Create series
var series = chartLinea.series.push(new am4charts.LineSeries());
series.dataFields.valueY = "value";
series.dataFields.categoryX = "year";
series.strokeWidth = 2;
series.tensionX = 0.77;

var range = valueAxis.createSeriesRange(series);
range.value = 0;
range.endValue = 1000;
range.contents.stroke = am4core.color("#FF0000");
range.contents.fill = range.contents.stroke;

// Add scrollbar
var scrollbarX = new am4charts.XYChartScrollbar();
scrollbarX.series.push(series);
chartLinea.scrollbarX = scrollbarX;

chartLinea.cursor = new am4charts.XYCursor();

}); // end am4core.ready()
</script>




<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_dataviz);
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chartConsumo = am4core.create("chartdivConsumo", am4charts.XYChart);
chartConsumo.paddingRight = 20;

// Add data
chartConsumo.data = [{
  "year": "1950",
  "value": -0.307
}, {
  "year": "1951",
  "value": -0.168
}, {
  "year": "1952",
  "value": -0.073
}, {
  "year": "1953",
  "value": -0.027
}, {
  "year": "1954",
  "value": -0.251
}, {
  "year": "1955",
  "value": -0.281
}, {
  "year": "1956",
  "value": -0.348
}, {
  "year": "1957",
  "value": -0.074
}, {
  "year": "1958",
  "value": -0.011
}, {
  "year": "1959",
  "value": -0.074
}, {
  "year": "1960",
  "value": -0.124
}, {
  "year": "1961",
  "value": -0.024
}, {
  "year": "1962",
  "value": -0.022
}, {
  "year": "1963",
  "value": 0
}, {
  "year": "1964",
  "value": -0.296
}, {
  "year": "1965",
  "value": -0.217
}, {
  "year": "1966",
  "value": -0.147
}, {
  "year": "1967",
  "value": -0.15
}, {
  "year": "1968",
  "value": -0.16
}, {
  "year": "1969",
  "value": -0.011
}, {
  "year": "1970",
  "value": -0.068
}, {
  "year": "1971",
  "value": -0.19
}, {
  "year": "1972",
  "value": -0.056
}, {
  "year": "1973",
  "value": 0.077
}, {
  "year": "1986",
  "value": 0.03
}, {
  "year": "1987",
  "value": 0.179
}, {
  "year": "1988",
  "value": 0.18
}, {
  "year": "1989",
  "value": 0.104
}, {
  "year": "1990",
  "value": 0.255
}, {
  "year": "2005",
  "value": 0.47
}];

// Create axes
var categoryAxis = chartConsumo.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "year";
categoryAxis.renderer.minGridDistance = 50;
categoryAxis.renderer.grid.template.location = 0.5;
categoryAxis.startLocation = 0.5;
categoryAxis.endLocation = 0.5;

// Pre zoom
chartConsumo.events.on("datavalidated", function () {
  categoryAxis.zoomToIndexes(Math.round(chartConsumo.data.length * 0.4), Math.round(chartConsumo.data.length * 0.55));
});

// Create value axis
var valueAxis = chartConsumo.yAxes.push(new am4charts.ValueAxis());
valueAxis.baseValue = 0;

// Create series
var series = chartConsumo.series.push(new am4charts.LineSeries());
series.dataFields.valueY = "value";
series.dataFields.categoryX = "year";
series.strokeWidth = 2;
series.tensionX = 0.77;

var range = valueAxis.createSeriesRange(series);
range.value = 0;
range.endValue = 1000;
range.contents.stroke = am4core.color("#FF0000");
range.contents.fill = range.contents.stroke;

// Add scrollbar
var scrollbarX = new am4charts.XYChartScrollbar();
scrollbarX.series.push(series);
chartConsumo.scrollbarX = scrollbarX;

chartConsumo.cursor = new am4charts.XYCursor();

}); // end am4core.ready()
</script>

{% endblock %}
